* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    // white-space: pre-line;
    // background-color: $dark-color !important;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
